* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter';
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}
.header_top {
    background-color: #454F5B;
    display: flex;
    align-items: center;
    gap: 197px;
    padding-top: 9px;
    padding-bottom: 9px;

}
.top {
    font-size: 16px;
    font-weight: 500;
    padding-left: 352px;
    color: #FFF;
}
.top-info {
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    text-decoration: underline;
}
.header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 29px;
    border-bottom: 1px solid #C4CDD5;
    background-color: #FFF;
    position: fixed;
}
.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}
.nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color:#161C24;
    transition: all 0.5s;

}
.nav ul li a:hover {
    color: red;
}
.header_bottom1 {
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.header-link {
    display: flex;
    align-items: center;
    gap: 2px;
    border: none;
    background-color: #FFF;
    cursor: pointer;
}
.home {
    margin-top: 146px;
    margin-bottom: 32px;

}
.catalog {
    font-size: 16px;
    font-weight: 400;
    color:#141414;
    margin-bottom: 40px;
}
.home-catalog {
    color:rgba(20, 20, 20, 0.5);
}
.home-title {
    font-size: 28px;
    font-weight: 600;
    color: #000;

}
.home-tetle-color {
    font-size: 18px;
    font-weight: 300;

}
.filter_title {
    width: 288px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color:#161C24;
    border: 1px solid #ADD7FF;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 32px;
}
.price {
    width: 288px;
    border:1px solid #ADD7FF ;
    padding: 24px;
}
.price-title {
    font-size: 22px;
    font-weight: 600;
    color:#161C24;
    margin-bottom: 47px;

}
.price-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 39px;
    cursor: pointer;
}
.price-info {
    font-size: 16px;
    font-weight: 500;
    color:#161C24;
}
.filter-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 47px;
}
.filter-link {
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    color: #161C24;
    padding: 10px 20px;
}